<form [formGroup]="listForm" (ngSubmit)="createList()">
    <h2>Create New List</h2>
    <input formControlName="name" placeholder="Name" required>
    <input formControlName="description" placeholder="Description (optional)">
    <select formControlName="language">
          <option value="en">English</option>
          <option value="de">German</option>
          <option value="cn">Chinese</option>
          <option value="kr">Korean</option>
        </select>
    <button type="submit" [disabled]="listForm.invalid || listForm.pristine">Create</button>
</form>

<button (click)="goBackToLists()">Back to Lists</button>