<div class="container" *ngIf="!quizComplete">
    <h1>Multiple Choice Quiz</h1>
    <p>Question {{ currentQuestionIndex + 1 }} / 10</p>
    <h2>{{ questions[currentQuestionIndex]?.prompt }}</h2>
    <p *ngIf="questions[currentQuestionIndex]?.item?.example">
        {{ questions[currentQuestionIndex]?.item?.example }}</p>
    <button class="showHideButton" *ngIf="questions[currentQuestionIndex]?.item?.pronunciation != null" 
        (click)="setShowPronunciation(!showPronunciation)">{{ pronunciationText }}</button>

    <br><br>
    <div class="options">
        <button *ngFor="let option of questions[currentQuestionIndex]?.options"
            [disabled]="selectedAnswer !== null"
            [class.selected]="selectedAnswer === option"
            [class.correct]="selectedAnswer && option === questions[currentQuestionIndex]?.correctAnswer"
            [class.incorrect]="selectedAnswer && option === selectedAnswer && option !== questions[currentQuestionIndex]?.correctAnswer"
            (click)="selectAnswer(option)">
            {{ option }}
        </button>
    </div>

    <!-- <button *ngIf="selectedAnswer" (click)="nextQuestion()">Next</button> -->
</div>

<div class="container" *ngIf="quizComplete">
    <h1>Quiz Complete!</h1>
    <p>Score: {{ score }} / 10</p>

    <h2>Review</h2>
    <ul>
        <li *ngFor="let q of questions">
            {{ q.item.vocab }}
            <br>
            {{ q.item.translation }}
        </li>
    </ul>

    <button (click)="restartQuiz()">New Quiz</button>
    <button (click)="backToList()">Back to List</button>
</div>